.btnCreateBlog {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  color: #f0f9ff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #a855f7;
    scale: 1.1;
  }
}
